
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Comfortaa, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.btn,
.text {
  color: $dark2;
  padding: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn-default {
  background-color: #efefef;
  &:hover {
    background-color: #fcfcfc;
  }
}

[type='submit'] {
  cursor: pointer;
}

[disabled] {
  cursor: default;
  background-color: #ccc;
  color: #666;
  &:hover {
    background-color: #ccc;
  }
}

a,
a:visited {
  color: $blue;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
