<template>
  <button
    class="btn btn-default"
    :class="className"
    :type="type"
    :disabled="disabled"
    @click="$emit(evtName)"
  >
    <i class="fas" :class="faIcon" />
    {{ text}}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: {
      type: String,
      default: 'Submit',
    },
    type: {
      type: String,
      default: 'button',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    className: {
      type: String,
      default: '',
    },
    evtName: {
      type: String,
      required: true,
    },
    faIcon: {
      type: String,
      default: 'fa-spinner',
    },
  },
};
</script>
