<template>
  <div class="followers">
    <h2>Followers</h2>
    <ul
      class="followers-list wrapper"
    >
      <Follower
        v-for="follower of followers"
        :key="follower.login"
        :follower="follower"
      />
    </ul>

  </div>
</template>

<script>
import Follower from './Follower.vue';

export default {
  name: 'Followers',

  components: {
    Follower,
  },

  props: {
    followers: Array,
  },

};
</script>

<style scoped lang="scss">
.followers {
  overflow: hidden;
  background-color: #fff;
}

.followers-list {
  padding: 0;
  overflow: hidden;
  padding: 2rem 0;
  text-align: center;
}

h2 {
  text-align: center;
  background-color: #eee;
  padding: 1rem;
}

</style>
