<template>
  <li
    class="follower"
    v-if="follower && follower.login"
  >
    <img
      class="avatar"
      :src="follower.avatar_url"
      :alt="follower.login"
    />

    <a
      class="handle"
      :href="follower.html_url"
    >
      {{ follower.login }}
    </a>
  </li>
</template>

<script>
export default {
  name: 'Follower',

  props: {
    follower: Object,
  },

};
</script>

<style scoped lang="scss">

.follower {
  list-style: none;
  width: 10rem;
  height: 9rem;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.avatar {
  width: 6rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-radius: 50%;
  // border: 1px solid #666;
  border: 10px solid #fff;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
}

.handle {
  font-size: 0.9;
  text-decoration: none;
  padding: 0 1.8rem;
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
