<template>
  <section class="search">
    <form @submit.prevent="onSubmit">
      <input
        class="search-input text"
        type="text"
        placeholder="Type github login"
        v-model.trim="login"
      />

      <button
        class="btn btn-default search-submit"
        type="submit"
        :disabled="loading || disabled"
      >
        <i class="fas fa-search"></i>
        Search
      </button>
    </form>
  </section>
</template>

<script>
export default {
  name: 'Search',

  props: {
    loading: Boolean,
  },

  data() {
    return {
      login: '',
      prevLogin: '',
      submitted: false,
    };
  },

  methods: {
    onSubmit() {
      if (this.login === '') return;
      this.submitted = true;
      this.prevLogin = this.login;
      this.$emit('submitted-search', this.login);
    },
  },

  computed: {
    disabled: function disabled() {
      if (this.login === '') return true;
      if (this.prevLogin === '') return false;
      return this.login === this.prevLogin || this.loading;
    },
  },
};
</script>

<style scoped lang="scss">
.search {
  text-align: center;
  background-color: $grey3;
  padding: 1rem;
  border-top: 1px solid $grey5;
}
</style>
