<template>
  <section class="user-not-found">
    <p>User ‘{{ login }}’ not found.</p>
  </section>
</template>

<script>
export default {
  name: 'UserNotFound',

  props: {
    login: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.user-not-found {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
</style>
