<template>
  <section
    class="user"
    v-if="user && user.login"
  >
    <div class="media">
      <img
        class="avatar"
        :src="user.avatar_url"
        :alt="user.login"
      />

      <div class="body">
        <h3>{{ user.name }}</h3>
        <a
          :href="user.html_url"
        >
          {{ user.login }}
        </a>
        <span>{{ user.followers }} followers</span>
      </div>
    </div>

  </section>
</template>

<script>
export default {
  name: 'User',

  props: {
    user: Object,
  },

};
</script>

<style lang="scss" scoped>

.user {
  text-align: center;
  margin: 1rem 0;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 10rem;
  margin-right: 1rem;
}

.body {
  text-align: left;
}
</style>
