<template>
  <div id="app">

    <h1>Github Followers</h1>

    <Search
      @submitted-search="submittedSearch($event)"
      :loading="loading"
    />

    <User v-if="user !== null" :user="user" />
    <UserNotFound v-if="displayUserNotFound" :login="login" />

    <div class="followers-wrapper">
      <Followers :followers="followers" />

      <div class="wrapper">
        <Button
          :text="btnMoreText"
          :disabled="!hasMore || loading"
          evtName="load-more-clicked"
          className="btn-load-more"
          @load-more-clicked="handleLoadMore"
        />
      </div>
    </div>

    <footer>May the source be with you.</footer>
  </div>

</template>

<script>
import Search from '@/components/Search.vue';
import User from '@/components/User.vue';
import UserNotFound from '@/components/UserNotFound.vue';
import Followers from '@/components/Followers.vue';
import Button from '@/components/Button.vue';

import {
  fetchUser as apiFetchUser,
  fetchFollowers as apiFetchFollowers,
} from './api/github';

export default {
  name: 'App',
  components: {
    Search,
    UserNotFound,
    User,
    Followers,
    Button,
  },

  data() {
    return {
      login: '',
      user: null,
      followers: [],
      pageNum: 1,
      perPage: 12,
      loading: false,
    };
  },

  methods: {
    fetchUser: async function fetchUser(login) {
      this.loading = true;

      try {
        const { status, data } = await apiFetchUser(login);
        if (status >= 200 && status <= 300) {
          this.user = data;
        }
        this.loading = false;
      } catch (err) {
        this.user = null;
        this.loading = false;
      }
    },

    fetchFollowers: async function fetchFollowers({ login, pageNum, perPage }) {
      this.loading = true;
      const { data } = await apiFetchFollowers({ login, pageNum, perPage });
      this.followers = this.followers.concat(data);
      this.loading = false;
      this.pageNum += 1;
    },

    submittedSearch: async function submittedSearch(login) {
      this.resetSearchData(login);

      const { pageNum, perPage } = this;

      await this.fetchUser(login);
      if (!this.user || !this.user.login) return;

      this.fetchFollowers({ login, pageNum, perPage });
    },

    handleLoadMore: function clickedLoadMore() {
      const { login, pageNum, perPage } = this;
      this.fetchFollowers({ login, pageNum, perPage });
    },

    resetSearchData: function resetSearch(login) {
      this.login = login;
      this.user = null;
      this.followers = [];
      this.pageNum = 1;
    },
  },

  computed: {
    hasMore: function hasMore() {
      return this.user && this.user.followers > this.followers.length;
    },

    btnMoreText: function btnMoreText() {
      if (this.user === null) return 'No user searched';
      return this.followers.length < this.user.followers
        ? 'Load more'
        : 'No more followers to fetch';
    },

    displayUserNotFound: function displayUserNotFound() {
      if (this.loading) return false;
      return this.login !== '' && this.user === null;
    },
  },
};
</script>

<style scoped lang="scss">

h1 {
  text-align: center;
  background-color: $grey2;
  color: $dark3;
  padding: 1rem 0;
  text-shadow: 0 1px 3px rgba(#fff, 0.5);
  border-bottom: 1px solid $grey1;
}

.followers-wrapper {
  margin-bottom: 6.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  background-color: $grey3;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: $dark3;
}
</style>
